@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
 

    body, html {
        font-family: 'Lato', sans-serif;
    }

    .jap {
        font-family: 'Noto Sans JP', sans-serif;
    }


#mainwrapper {
 
}

#mainkanji {
    background-image: url('/digital-paper.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    
}

  
}

 #all.rangeSlider .rangeFloat,  .activefloat .rangeFloat{
	opacity: 1!important;
	top: -0.2em;
	transform: translate(-50%, -100%);
 
}


.rangePips {
	font-size:0.8rem;
}

 